body {
  font-family: "El Messiri", sans-serif;
  margin: 0;
}
.titulo-pp {
  padding: 35px 0 25px 0;
  text-align: center;
}

.container-info {
  margin-top: 35px;
  width: 50%;
}
.container-img {
  height: 200px;
}
.container-img img {
  height: 100%;
}

.img-edu {
  margin-left: 60px;
  width: 70px;
}
.container-proyect {
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
}
.imgProyect {
  margin: 30px;
  width: 250px;
  height: 250px;
  transition-duration: 1s;
}
.imgProyect:hover {
  transform: scale(1.2);
}
.footer {
  padding-top: 50px;
  text-align: center;
}
.icono {
  margin: 10px;
}
@media only screen and (min-width: 1000px) {
  body {
    background-color: blue;
  }
}
